{% extends 'base.html' %}

{% block title %}Travel Dashboard{% endblock %}

<!--begin::Content-->
{% block content %}
<div class="container">
        <!--begin::Header-->
        <div class="my-3">
            <!--begin::Logout-->
            <div class="text-right">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            <!--end::Logout-->
            <!--begin::Welcome message-->
            <div>
                <h4>Hello, {{ request.session.nombre }}!</h4>
            </div>
            <!--end::Welcome message-->
        </div>
        <!--end::Header-->
        <!--begin::Main-->
        <div>
            <!--begin::Trip Schedules-->
            <div class="pt-5">
                <p>Your Trip Schedules</p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Destination</th>
                            <th scope="col">Travel Start Date</th>
                            <th scope="col">Travel End Date</th>
                            <th scope="col">Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for trip in trips %}
                        <tr>
                            <td><a href="#">{{ trip.destination }}</a></td>
                            <td>{{ trip.start_date }}</td>
                            <td>{{ trip.end_date }}</td>
                            <td>{{ trip.trip_plan }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--end::Trip Schedules-->
        </div>

        <!--begin::Other User's Travel Plans-->
        <div class="pt-5">
            <p>Other User's Travel Plans</p>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Travel Start Date</th>
                        <th scope="col">Travel End Date</th>
                        <th scope="col">Do You Want To Join?</th>
                    </tr>
                </thead>
                <tbody>
                {% for plan in other_plans %}
                    <tr>
                        <td>{{ trip_plan.name }}</td>
                        <td><a href="#">{{ plan.destination }}</a></td>
                        <td>{{ plan.start_date }}</td>
                        <td>{{ plan.end_date}}</td>
                        <form action="{% url 'join_plan' %}" method="POST">
                            <input type="hidden" name="trip_id" value="{{ plan.id }}">
                            <input class="bg-transparent border-0 text-primary" type="submit" value="Join">
                        </form>
                        <td><a href="#">Join</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!--end::Other User's Travel Plans-->

        <!--begin::Add Travel Plan-->
        <div class="py-4">
            <div class="text-right">
                <a href="#">Add Travel Plan</a>
            </div>
        </div>
        <!--end::Add Travel Plan-->
        <!--end::Main-->
    </div>

{% endblock %}
<!--end::Content-->